{% extends 'partials/base.html.twig' %}

{% block body %}
<style>


</style>

<section id="hero">
	<div class="hero has-primary-gradient">
		<div class="hero-body">
			<div class="container">
				
				<div class="columns is-centered ">
					<div class="column is-four-fifths">
						<div class="columns is-vcentered has-text-centered-mobile">

							<div class="column is-half">
								<h1 class="title is-1 has-text-white">Become a Leigh Hackspace Member</h1>
								<p class="subtitle has-text-white">All our tools, resources and facilities are freely available for members!</p>
							</div>

							<div class="column">
								<img class="hero-img" src="{{ url('theme://images/hero-img.svg') }}" onerror="this.onerror=null; this.src= '{{ url('theme://images/hero-img@2x.png') }}'"></img>                               
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">

        <div class="columns is-centered is-vcentered has-text-centered">
            <div class="column is-8-desktop">
              <p>Leigh Hackspace is a proudly non-profit organisation. We rely on contributions from our members to pay bills, buy equipment we can all use, and provide essential services like high-speed internet.</p> 
            </div>
		</div>
		<div class="columns pricing-tiers is-centered">
      <div class="column is-8-desktop">
      
        {% include 'partials/pricing/membership.html.twig' %}
        <hr>
        {% include 'partials/pricing/other_membership.html.twig' %}
		<hr>

      </div>
     </div>

      <div class="columns is-centered is-vcentered has-text-centered">
          <div class="column is-8-desktop">
            <p>The biggest asset you will find as a member is being part of a social making and learning community. Our memberbase consists of people with skills ranging from programming computers to making guitars, from self-publishing to hand stitching, and from fine art to poetry.</p> 
          </div>
      </div>
     
	</div>
</section>

<section class="section">
	<div class="container">

		<div class="content has-text-centered">
			<h2 class="is-size-3">Membership gives you instant access to all our facilities</h2>
		</div>

	    {# Display the grid of facilities #}
        <div class="columns is-multiline has-text-centered mt-4">
            {% include 'partials/facilities/facility.items.html.twig' %}    
        </div>

	</div>
</section>

{% endblock %}
