<section class="">
    <div class="container facility-container">

    	<div class="content has-text-centered _has-text-white">
    		<h2 class="is-size-3 _has-text-white">{{ page.title }}</h2>
            {{ page.content }}
    	</div>

        <div class="columns is-multiline has-text-centered mt-4">
            {% include 'partials/facilities/facility.items.html.twig' %}    
        </div>

    </div>
</section>