{% extends 'partials/footer_cta.html.twig' %}

            {% block cta %}
            <div class="column">
                <h2 class="title has-text-white">Want to use this space?</h2>
                <p class="subtitle has-text-white">Become a Leigh Hackspace member from just £20 per month and get access today!</p>
                <a class="button is-primary is-medium has-box-shadow is-fullwidth">Become a Member</a>
            </div>
            {% endblock %}